* {
    font-size: 0px;
}

body {

}

h1 {
    font-size: 30px;
    text-align: center;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
}


.overall {
    margin-left: auto;
    margin-right: auto;
    border:solid;
    text-align: center;
}
.bingo_board {
    width: 770px;
    height:770px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000000;
    padding: 0px;
    margin: 0px;
    display: inline-block;

}

.bingo_square {
    display:inline-block;
    border:solid;
    border-width:2px;
    width: 150px;
    height: 150px;
    padding: 0px;
    margin: 0px;
    border-collapse:collapse;
}

.bingo_square * {
    display: inline-block;
    text-align: center;
    width: 140px;
    word-wrap:normal;
    vertical-align: middle;
    height: 125px;
    padding-top: 25px;
    font-size: 20px;

}

.active {
    background-color: #B0FFB0;
}

.hovered {
    border: 2px solid #FF0000;

}

.winner {
    background-color:#FFFF80 !important;
}

#ExplanationText {
    display:none;
    border:1px solid #000000;

    font-size: 20px;
}


.bingo_list {
    /*border: 1px solid #000000;*/
    border-collapse: collapse;
}

.bingo_list td {
    font-size: 18px;
    border: 1px solid #000000;
}

.list_div {
    /*width: 794px;*/
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000000;
    padding: 0px;
    margin: 0px;
    display: inline-block;

}
